body {
  font-family: Arial, sans-serif;
 min-width: 15rem;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0;
  max-height: 20rem;
  
}
#container{
  overflow-y: auto; 
  overflow-x: hidden;
}


#container {
  scrollbar-color: #343434 #36454F	;
  scrollbar-width: thin; 
}
#customTheme {
  display: none;
}
h1 {
  margin: 1rem;
}
#themeSelector{
  margin-left: 1rem;
}
select, button, label {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  width: 80%;
  border-radius: 5px;
  border: none;
  outline: none;
}

select, input[type="color"] {
  background-color: #444;
  color: white;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
  margin-left:1rem ;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004085;
}

label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-right: 5rem;
}
